<div class="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title"><%= page_title %></div>
        </div>
        <form action=<%= action %>   method="post">
            <div class="form-group">
              <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right"> Title </label>
              <div class="col-lg-4 col-md-9 col-sm-8">
                <input type="text" class="form-control" id="location_name" name="title" placeholder="Title" required="true" value=<%= note.title || ''%>>
              </div>
            </div>
            <div class="form-group form-show-validation row">
              <label for="address" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Description </label>
              <div class="col-lg-4 col-md-9 col-sm-8">
              	<input type="textarea" class="form-control" id="description" name="description" placeholder="Description" value=<%= note.description || ''%> >
                
              </div>
            </div>
	          <div class="card-action">
	            <div class="row">
	              <div class="col-md-12">
	                <input class="btn btn-success" type="submit" value="save">
	                <a class="btn btn-danger" href="/notes">Cancel</a>
	              </div>
	            </div>
	          </div>
        </form>
      </div>
    </div>
  </div>
</div>
