<div class="page-inner">
  <div class="row">
    <div class="col-md-12">
    <a href ="notes/new">Create new note</a>
      <table>
      	<thead>
      	<th>ID</th>
      	<th>Tittle</th>
      	<th>Description</th>
      	</thead>
      	<tbody>
      	 <% Object.keys(notes).forEach(function(note){ %>
      		<tr>
      			<td><%= note %></td>
      			<td><%= notes[note].title %></td>
      		  <td><%= notes[note].description %></td>
      		  <td><a href ="/notes/edit/<%=note %>">Edit</td>
      		  <td><a data-confirm="Are you sure?" data-method="delete" href ="/notes/delete/<%=note %>">Delete</td>
      		</tr>
      		<% }) %>
      	</tbody>
      </table>
    </div>
  </div>
</div>
